tools/s1kd-fmgen/fmtypes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fm" type="fmElemType"/>
  <xs:complexType name="fmElemType">
    <xs:attribute name="infoCode" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:element name="fmtypes" type="fmtypesElemType"/>
  <xs:complexType name="fmtypesElemType">
    <xs:sequence>
      <xs:element ref="fm" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
